@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Epilogue", sans-serif;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: hsl(0deg, 0%, 98%);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
}

.top-bar {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .top-bar .logo {
    margin: 0 20px;
  }
}

.illustration.mobile {
  width: calc(100% + 40px);
  margin: 0 -20px;
  margin-top: 30px;
}

@media screen and (min-width: 900px) {
  .container {
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 80% 10%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex-grow: 1;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 80vw;
    margin: 0 10vw;
  }
}

.content {
  text-align: center;
}
@media screen and (min-width: 900px) {
  .content {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    padding: 0 30px;
  }
}
.content h1 {
  font-size: 3.3rem;
  font-weight: 700;
  color: hsl(0deg, 0%, 8%);
  margin-top: 40px;
}
.content h1 br {
  display: none;
}
@media screen and (min-width: 900px) {
  .content h1 {
    font-size: 7rem;
    margin-top: 100px;
  }
  .content h1 br {
    display: block;
  }
}
.content p {
  font-size: 1.6rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 41%);
  margin-top: 20px;
  line-height: 2.5rem;
}
@media screen and (min-width: 900px) {
  .content p {
    margin-top: 50px;
    width: 70%;
  }
}
.content button {
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  font-size: 2rem;
  font-weight: 500;
  padding: 15px 25px;
  border: none;
  border-radius: 16px;
  margin-top: 20px;
}
.content button:hover {
  cursor: pointer;
}
@media screen and (min-width: 900px) {
  .content button {
    margin-top: 50px;
  }
}
.content .clients {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 -20px;
  margin-top: 40px;
}
.content .clients img {
  width: 20vw;
}
@media screen and (min-width: 900px) {
  .content .clients {
    margin-top: 100px;
  }
  .content .clients img {
    width: 8vw;
  }
}

.illustration.desktop {
  grid-area: 2/2/2/3;
  width: 40vw;
}
@media screen and (min-width: 900px) {
  .illustration.desktop {
    width: 25vw;
  }
}

.desktop {
  display: none;
}
@media screen and (min-width: 900px) {
  .desktop {
    display: block;
  }
}

@media screen and (min-width: 900px) {
  .mobile {
    display: none;
  }
}

.menu.mobile:hover {
  cursor: pointer;
}

.close.mobile:hover {
  cursor: pointer;
}

nav {
  display: none;
  flex-direction: column;
  width: 53vw;
  height: 100vh;
  background-color: hsl(0deg, 0%, 98%);
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}
@media screen and (min-width: 900px) {
  nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    position: relative;
    height: auto;
    width: auto;
    justify-content: space-between;
  }
}
nav img {
  width: 20px;
  align-self: end;
  margin-bottom: 20px;
}
@media screen and (min-width: 900px) {
  nav ul {
    display: inline-flex;
    align-items: center;
  }
}
nav ul li {
  font-size: 1.7rem;
  font-weight: 500;
  color: hsl(0deg, 0%, 41%);
  margin: 25px 0;
}
@media screen and (min-width: 900px) {
  nav ul li {
    margin: 0 15px;
  }
}
nav ul li img {
  margin-left: 10px;
  margin-bottom: 0;
  width: 10px;
  align-self: center;
}
nav ul li:hover {
  cursor: pointer;
  font-weight: 700;
}
nav ul:first-of-type li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 900px) {
  nav ul:first-of-type li {
    display: inline-flex;
    position: relative;
    flex-wrap: nowrap;
  }
}
nav .break {
  flex-basis: 100%;
}
nav .menu-account li {
  text-align: center;
}
nav .menu-account li:last-of-type {
  border: solid hsl(0deg, 0%, 41%) 2px;
  padding: 15px 0;
  border-radius: 17px;
}
@media screen and (min-width: 900px) {
  nav .menu-account li:last-of-type {
    padding: 15px 25px;
  }
}
nav .submenu {
  display: none;
}
nav .submenu li img {
  width: 15px;
  margin-right: 15px;
  margin-left: 0;
}
nav .submenu li {
  margin-left: 25px;
}
@media screen and (min-width: 900px) {
  nav .submenu {
    position: absolute;
    top: 35px;
    right: 0;
    background-color: hsl(0deg, 0%, 98%);
    border-radius: 10px;
    box-shadow: 0px 5px 23px 12px rgba(0, 0, 0, 0.14);
    padding: 15px 20px;
  }
  nav .submenu li {
    margin: 8px 0;
    white-space: nowrap;
  }
}
@media screen and (min-width: 900px) {
  nav .hasSubmenu ~ .hasSubmenu .submenu {
    left: 0;
    right: initial;
  }
}
nav li.active .submenu {
  display: block;
}

nav.active {
  display: flex;
}

.overlay.active {
  position: fixed;
  background-color: hsl(0deg, 0%, 8%);
  opacity: 0.5;
  height: 100vh;
  width: 100vw;
}

.attribution {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
